<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parameter Selection</title>
</head>
<body>
    <form method="post" action="{{ url_for('update_params') }}">
        {% for param in parameters.keys() %}
            <label for="{{ param }}">{{ param }}:</label>
            <select name="{{ param }}" id="{{ param }}">
                {% for choice in parameters[param] %}
                    <option value="{{ choice }}" {% if parameters[param] == choice %} selected {% endif %}>{{ choice }}</option>
                {% endfor %}
            </select>
            <br>
        {% endfor %}

        <br>

        <button type="submit">Update Parameters</button>
    </form>
</body>
</html>
